.body__style {
  color: rgb(31 41 55 / 1);
  margin-top: 1rem;
}

.body__style a {
  color: #158247;
}

.body__style img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.body__style p strong {
  font-size: 1.4rem;
}

.body__style p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.body__style ul {
  list-style-type: square;
  font-size: 0.85rem;
}

.body__style blockquote {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
